@import "../../assets/css/variables";
@import "../../assets/css/functions";

.tag {
    min-width: clamp(84px, 13vw, 115px);
    height: clamp(18px, 2vw, 25px);
    background-color: $color-primary;
    border-radius: clamp($b-radius-sm, 1vw, $b-radius-lg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title {
    font-size: clamp(rem(10px), 2vw, rem(14px));
    line-height: $line-height;
}