$color-primary: #FF6060;
$color-bg: whitesmoke;
$color-secondary: #FFF;
$line-height: 142.6%;
$color-bg--card: #F7F7F7;
$color-star: #E3E3E3;

$b-radius-sm: 5px;
$b-radius-lg: 10px;
$b-radius-xlg: 25px;

$vw: 2vw;

$media: (
    tablet: "min-width: 768px",
    laptop: "min-width: 992px",
    desktop: "min-width: 1440px"
);

$tablet : map-get($media, tablet);
$laptop : map-get($media, laptop);
$desktop: map-get($media, desktop);


$minBodyHeight: calc(100vh - 209px); //41 = footer height - header height