@import "../../assets/css/variables";
@import "../../assets/css/functions";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    min-width: 280px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navItem {
    margin-left: clamp(10px, 4vw, 57px);
    color: $color-primary;
    text-transform: capitalize;
    font-weight: 500;
    font-size: clamp(rem(12px), $vw, rem(24px));
    &:hover {
        text-decoration: underline;
    }
  
}


.logo {
    width: clamp(125px, 38.67vw, 210.32px);
    height: clamp(40.51px, 12.6vw, 68px);
}

.active {
    text-decoration: underline;
}