@import "../../assets/css/_colors.scss";

.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: $color-secondary;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0; 
}


.logo {
    display: block;
    width: 122px;
    height: 39.44px;
    margin-bottom: 34px;
    path {
        fill: $color-secondary;
    }
}

.copy {
    height: 46px;
}