.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: #FFF;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 61px; */
    right: 0; 
}


.logo {
    display: block;
    width: 122px;
    height: 39.44px;
    margin-bottom: 34px;
}

.logo path {
    fill: #FFF;
}

.copy {
    height: 46px;
}