@import "../../assets/css/variables";
@import "../../assets/css/functions";

.footer {
    width: 100vw;
    background-color: black;
    margin-left: -20px;
    color: $color-secondary;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and ($laptop) {
        margin-left: -100px;
    }
}


.logo {
    display: block;
    width: 122px;
    height: 39.44px;
    margin-bottom: 34px;
    path {
        fill: $color-secondary;
    }
}

.copy {
    height: 46px;
    font-size: clamp(rem(12px), $vw, rem(24px));
}